# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, aka won't run on folders with the same name

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC, L]
