@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.nav {
    z-index: 1;
    transition: 0.3s;
    background: rgb(255, 197, 197);
    position: sticky;
    padding-right: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 98%;
    height: 85px;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 14px 35px;
    color: black;
    font-size: 19px;
    transition: all 0.6s ease;
    border-radius: 10px;
}

.active {
    font-weight: bolder;
    color: white;
    background: rgb(255, 102, 102);
}

.item:hover {
    font-size: 20px;
    background: rgb(168, 144, 144);
    color: white;
}

.item:last-child {
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.63);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 0, 0.904);
}

.section {
    z-index: 0;
    height: 100vh;
}

.section img {
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    position: relative;
}

.title {
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section .main h1 {
    font-size: 50px;
}


 .main {
    z-index: 0;
    margin: auto;
    text-align: justify;
    max-width: 80%;
}

#loading {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: white;
    text-align: center;
    z-index: 99;
    width: 100%;
    height: 100%;
}

#loadingimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    font-size: 60px;
    padding-left: 15px;
    margin-right: auto;
    transition: 1s;
}

#mission {
    background-color: white;
}

#about {
    background-color: rgba(224, 212, 212, 0.699);
}
